/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* CSS Reset End */

/* Define Color Variables */
:root {
  --primary-color: lab(28% -14 -14);
  --accent-color: #3498db;
  /* Define other colors as needed */
}

/* Global Styles */
body {
  font-family: "Mukta", sans-serif;
}

/* Header Styles */
header {
  position: relative;
  height: 60px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
}

#whiteLogo {
  width: 10rem;
  margin-left: 20px;
  vertical-align: middle;
}
#hamburger {
  position: absolute;
  top: 23px;
  right: 20px;
  fill: #fff;
}

#navContainer {
  display: none;
}

input[type="checkbox"] {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #fff;
  position: absolute;
  top: 60px;
}

nav li a {
  display: block;
  text-decoration: none;
  padding: 16px;
  border-bottom: 1px solid #ededed;
  color: lab(28% -14 -14);
  font-weight: 300;
  font-size: 0.85rem;
}

nav li {
  text-align: center;
  border-bottom: 1px solid #ededed;
}

/* Heading Styles */
h1 {
  font-size: 1.6rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding: 0 15px;
  line-height: 33px;
}
h1 span {
  font-weight: 700;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.4rem;
}

/* Article Image Styles */
article img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
/* Article Paragraph Styles */
article p {
  margin: 10px 20px;
}

/* Footer Styles */
footer {
  background-color: var(--primary-color);
  text-align: center;
}

/* Social Links Styles */
.social {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.social_link {
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 32px;
  margin-bottom: 15px;
}
.social_link svg {
  fill: #fff;
}

/* Small Text Styles */
small {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
}

/* Form Section Styles */
#contact {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro {
  text-align: center;
  margin-bottom: 20px;
}
.contact-form {
  width: 100%;
  max-width: 400px; /* Adjust the max-width as needed */
}

label {
  display: block;
  margin-bottom: 8px;
}

/* Style form inputs */
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

/* Style the submit button */
button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add hover effect to the submit button */
button:hover {
  background-color: #2980b9;
}

/* Media Query Styles */
/* smaller that 540px do the following */
@media screen and (min-width: 540px) {
  header {
    display: flex;
    align-items: center;
  }
  header div {
    width: 90vw;
    border: 1px solid orange;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
  }
  #whiteLogo {
    margin-top: 0;
    margin-left: 0;
    border: 1px solid blue;
  }

  #hamburger {
    display: none;
  }
  input[type="checkbox"] {
    display: none;
  }
  #navContainer {
    display: inline-block;
    position: static;
    grid-column: 2/-1;
    justify-self: end;
  }
  nav ul {
    position: static;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: 1px solid lime;
    width: 250px;
  }
  nav li {
    border-bottom: none;
  }
  nav li a {
    color: #fff;
    border-bottom: none;
    padding: 0;
  }
}
